@use "variables" as *;

.header {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-link {
  @include opacity-change;
  font-size: 1rem;
  color: $darkestGray;
  font-weight: 400;
  margin: 0 20px;
}

.splash {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
  margin-bottom: 50px;
}

.text-half {
  width: 40%;
  min-width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 80px;
}

.image-half {
  width: 50%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc((50vw / 1300) * (1550));
  margin-left: 70px;
  margin-top: -30px;
}

.welcome {
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 29px;
  letter-spacing: 8.3px;
  text-transform: uppercase;
  color: $darkestGray;
}

.big {
  color: $orange;
  font-size: 3rem;
  letter-spacing: 0.1px;
  font-weight: bold;
  line-height: 3.1rem;
  margin-top: 20px;
}

.download {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.download-image {
  margin-right: 20px;
}

.section {
  width: 100%;
  margin-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
}

.display {
  width: 40%;
  position: relative;
}

.blob {
  width: 40%;
  position: relative;
  margin-top: 40px;
}

.description {
  position: absolute;
  color: $darkestGray;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.0rem;
  width: 80%;
}

.updates {
  background-color: $coral;
  padding: 100px 0px;
  min-height: 50px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-notice {
  width: 50%;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: white;
}

.sign-up-form {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  width: 50%;
  justify-content: center;
}

.email {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  outline: 0;
  font-size: 1rem;
  width: 80%;
  color: white;
  padding: 5px 10px;

  &::placeholder {
    color: white;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

.submit {
  outline: 0;
  background-color: white;
  color: $coral;
  border-radius: 20px;
  @include opacity-change;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 20px;
  margin-left: 20px;
}

@media screen and (max-width: $mobile-width) {
  .header-link {
    margin: 0 10px;
  }
}

@media screen and (min-width: 1150px) {
  .image-half {
    height: calc((50vw / 1300) * (1400));
  }
}

@media screen and (max-width: 1000px) {
  .section {
    flex-direction: column-reverse !important;
    align-items: center;
  }
  .display {
    width: 80%;
  }
  .blob {
    width: 80%;
    margin-bottom: 40px;
  }
  .description {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
  }
  .sign-up-form, .sign-up-notice {
    width: 80%;
  }
  .email {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .image-half {
    width: 70%;
    height: calc((70vw / 1300) * (1800));
    margin-left: 0;
  }
}
