// Constants.
$container-width: 1200px;
$mobile-width: 768px;
$min-width: 320px;
$min-font: 14px;
$max-font: 20px;

// Colors.
$orange: #EF5F40;
$coral: #FF8A71;
$darkestGray: #21222C;
$darkGray: #3D4055;
$midGray: #70738D;
$lightGray: #A6A8BF;
$lighterGray: #C9CBDC;
$lightestGray: #E5E6F2;
$red: #DF3B30;
$green: #66C964;
$lightBlack: #373F41;

@mixin opacity-change {
  transition: opacity 0.3s;
  &:hover { opacity: 0.7; }
  &:active { opacity: 0.5; }
}

// Responsive font sizing.
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}